* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: "Cutive Mono", monospace;
}

#root .App {
  width: 100vw;
  min-height: 100vh;
  padding: 0 170px;
  background-color: black;
}

#root .App .container {
  overflow: auto;
  width: 100%;
}

#root .App .container .Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

#root .App .container .Home .mobile {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  z-index: 999;
}

#root .App .container .Home .mobile p {
  opacity: 0;
  -webkit-animation: bounce 2s ease both infinite, show 1s;
          animation: bounce 2s ease both infinite, show 1s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#root .App .container .Home .welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 6em;
  color: white;
  -webkit-animation: fadeAway 4s;
          animation: fadeAway 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#root .App .container .Home .welcome span {
  color: #1976d2;
  font-weight: inherit;
  font-size: inherit;
}

#root .App .container .Home .imageContainer {
  -webkit-animation: moveUp 6s ease both;
          animation: moveUp 6s ease both;
  width: 50%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root .App .container .Home .imageContainer .blob {
  width: 100%;
}

#root .App .container .Home .imageContainer .photo {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1440px) {
  #root .App .container .Home .imageContainer .photo {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 1024px) {
  #root .App .container .Home .imageContainer .photo {
    width: 120px;
    height: 120px;
  }
}

#root .App .container .Home .textContainer {
  -webkit-animation: moveLeft 6s ease both;
          animation: moveLeft 6s ease both;
  width: 50%;
  height: 100%;
  padding: 70px 0;
}

#root .App .container .Home .textContainer .about-link:hover span:after {
  content: "About";
}

#root .App .container .Home .textContainer .work-link:hover span:after {
  content: "Work";
}

#root .App .container .Home .textContainer .contact-link:hover span:after {
  content: "Contact";
}

#root .App .container .Home .textContainer span {
  font-weight: 700;
  font-size: 5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#root .App .container .Home .textContainer span:hover {
  margin-left: 30px;
}

#root .App .container .Home .textContainer .about-link span:after {
  color: white;
  content: "Hello.";
}

#root .App .container .Home .textContainer .work-link span:after {
  color: #1976d2;
  content: "I am";
}

#root .App .container .Home .textContainer .contact-link span:after {
  color: #1976d2;
  content: "Med";
}

#root .App .container .Error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .App .container .Error h1 {
  font-size: 4em;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

#root .App .container .Error img {
  width: 100px;
  height: 100px;
  -webkit-animation: wave 1s infinite;
          animation: wave 1s infinite;
}

#root .App .container .Work,
#root .App .container .About,
#root .App .container .Contact {
  color: white;
}

#root .App .container .About {
  overflow: scroll;
  height: 250vh;
  position: relative;
}

#root .App .container .About header {
  -webkit-animation: aboutHeader 1s ease both;
          animation: aboutHeader 1s ease both;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root .App .container .About header p {
  font-weight: 700;
  font-size: 4em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#root .App .container .About header p i {
  font-size: 0.8em;
  color: #1976d2;
}

#root .App .container .About section {
  width: 100%;
  height: 150vh;
  padding: 0 150px;
}

#root .App .container .About section h3 {
  font-weight: 500;
  font-size: 2.5em;
}

#root .App .container .About section p {
  font-weight: 300;
  font-size: 1.5em;
}

#root .App .container .About section p code {
  font-weight: 100;
  font-size: 1em;
  color: rgba(19, 226, 19, 0.685);
}

#root .App .container .About section p a {
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  color: #1976d2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#root .App .container .About section p a:hover {
  margin-left: 20px;
}

#root .App .container .Work {
  width: 100%;
}

#root .App .container .Work section {
  height: 100vh;
  position: relative;
  -webkit-animation: moveLeftWork 1s ease both;
          animation: moveLeftWork 1s ease both;
}

#root .App .container .Work section .link {
  -webkit-animation: link 3s ease both infinite;
          animation: link 3s ease both infinite;
  position: absolute;
  bottom: 20px;
  right: 0;
}

#root .App .container .Work section .link a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 100;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#root .App .container .Work section .link a:hover {
  color: #1976d2;
}

#root .App .container .Work section .link i {
  font-size: inherit;
}

#root .App .container .Work section .name {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#root .App .container .Work section .name h2 {
  font-weight: 700;
  font-size: 4em;
}

#root .App .container .Work section .showcase {
  height: 70%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root .App .container .Work section .showcase .image {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root .App .container .Work section .showcase .image .imageWrapper {
  border: 2px solid #62757f;
  border-top: 15px solid #62757f;
  border-radius: 5px;
  height: 230px;
  width: 470px;
  position: relative;
}

#root .App .container .Work section .showcase .image .imageWrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

#root .App .container .Work section .showcase .image .imageWrapper .dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5px;
  top: -15px;
  left: 5px;
}

#root .App .container .Work section .showcase .image .imageWrapper .dots div {
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 50%;
}

#root .App .container .Work section .showcase .image .imageWrapper .dots div:nth-child(1) {
  background-color: #ff1744;
}

#root .App .container .Work section .showcase .image .imageWrapper .dots div:nth-child(2) {
  background-color: #ffff00;
}

#root .App .container .Work section .showcase .image .imageWrapper .dots div:nth-child(3) {
  background-color: #76ff03;
}

#root .App .container .Work section .showcase .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
}

#root .App .container .Work section .showcase .description .techs {
  margin-top: 50px;
}

#root .App .container .Work section .showcase .description .techs i {
  font-size: 55px;
  margin-right: 15px;
}

#root .App .container .Work section .showcase .description .techs img {
  height: 55px;
  width: 55px;
  margin-right: 15px;
}

#root .App .container .Work section .showcase .description .techs img.express {
  width: 120px;
}

#root .App .container .Work section .showcase .description p,
#root .App .container .Work section .showcase .description h4 {
  font-weight: 500;
  font-size: 1.5em;
}

#root .App .container .Contact header {
  -webkit-animation: aboutHeader 1s ease both;
          animation: aboutHeader 1s ease both;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root .App .container .Contact header p {
  font-weight: 700;
  font-size: 4em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#root .App .container .Contact section {
  width: 100%;
  height: 100vh;
  padding: 0 150px;
}

#root .App .container .Contact section h3 {
  font-weight: 500;
  font-size: 2.5em;
}

#root .App .container .Contact section p {
  font-weight: 300;
  font-size: 1.5em;
}

#root .App .container .Contact section p a {
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  color: #1976d2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

#root .App .container .Contact section p a:hover {
  margin-left: 20px;
}

.nav-list {
  position: fixed;
  right: 50px;
  z-index: 999;
  list-style-type: none;
  -webkit-animation: navList 1s ease both;
          animation: navList 1s ease both;
}

.nav-list li a {
  color: rgba(255, 255, 255, 0.199);
  font-weight: 700;
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav-list li a:hover {
  color: white;
  margin-left: 20px;
}

.nav-btn {
  position: fixed;
  z-index: 1000;
  display: none;
  border: 0;
  border-radius: 50%;
  background-color: black;
  height: 50px;
  width: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-btn i {
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.clicked {
  background-color: white !important;
}

.clicked i {
  color: black !important;
}

.show {
  display: block !important;
}

.opacity {
  opacity: 0.4;
}

@-webkit-keyframes navList {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes navList {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes wave {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  66% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes moveLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  66% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveLeftWork {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes moveLeftWork {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  66% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes moveUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  66% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes fadeAway {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadeAway {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes aboutHeader {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0.2;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes aboutHeader {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0.2;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes link {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes link {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

Link,
a {
  text-decoration: none;
}

.blob-mobile {
  opacity: 0.2 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.top {
  z-index: 1000 !important;
}

.mobile-about span:after {
  content: "About" !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 30px;
}

.mobile-work span:after {
  content: "Work" !important;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  margin-left: 30px;
}

.mobile-contact span:after {
  content: "Contact" !important;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-left: 30px;
}

@media (max-width: 1024px) {
  #root .App {
    padding: 0 120px;
  }
  #root .App .container .About section {
    padding: 0 70px;
  }
  #root .App .container .Contact section {
    padding: 0 70px;
  }
  #root .App .container .Work section .name h2 {
    font-size: 3em;
  }
  #root .App .container .Work section .showcase .image img {
    height: 200px;
    width: 360px;
  }
  #root .App .container .Work section .showcase .description .techs i {
    font-size: 40px;
    margin-right: 10px;
  }
  #root .App .container .Work section .showcase .description .techs img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  #root .App .container .Work section .showcase .description .techs img.express {
    width: 90px;
  }
  #root .App .container .Work section .showcase .description p,
  #root .App .container .Work section .showcase .description h4 {
    font-size: 1.3em;
  }
}

@media (max-width: 768px) {
  #root .App {
    padding: 0 50px;
  }
  #root .App .container .Home .mobile {
    visibility: visible;
  }
  #root .App .container .Home .imageConatiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #root .App .container .Work section .name h2 {
    font-size: 2em;
  }
  #root .App .container .Work section .showcase .image img {
    height: 150px;
    width: 270px;
  }
  #root .App .container .Work section .showcase .description .techs i {
    font-size: 25px;
    margin-right: 8px;
  }
  #root .App .container .Work section .showcase .description .techs img {
    height: 25px;
    width: 25px;
    margin-right: 8px;
  }
  #root .App .container .Work section .showcase .description .techs img.express {
    width: 60px;
  }
  #root .App .container .Work section .showcase .description p,
  #root .App .container .Work section .showcase .description h4 {
    font-size: 1.1em;
  }
}

@media (max-width: 600px) {
  #root .App {
    padding: 0 15px;
  }
  #root .App .container .Home {
    height: 90vh;
  }
  #root .App .container .Home .welcome {
    font-size: 3em;
  }
  #root .App .container .Home .imageContainer .blob {
    width: 300px;
    height: 300px;
  }
  #root .App .container .Home .imageContainer .photo {
    width: 100px;
    height: 100px;
  }
  #root .App .container .Home .textContainer span {
    font-weight: 700;
    font-size: 3em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #root .App .container .About header p {
    font-size: 2em;
  }
  #root .App .container .About section {
    padding: 0 15px;
  }
  #root .App .container .About section h3 {
    font-size: 1.5em;
  }
  #root .App .container .About section p {
    font-size: 1em;
  }
  #root .App .container .Contact header p {
    font-size: 2em;
  }
  #root .App .container .Contact section {
    padding: 0 15px;
  }
  #root .App .container .Contact section h3 {
    font-size: 1.5em;
  }
  #root .App .container .Contact section p {
    font-size: 1em;
  }
  #root .App .container .Work section {
    height: 130vh;
  }
  #root .App .container .Work section .link {
    bottom: -35px;
  }
  #root .App .container .Work section .name {
    height: 20%;
  }
  #root .App .container .Work section .name h2 {
    font-size: 1.5em;
  }
  #root .App .container .Work section .showcase {
    height: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #root .App .container .Work section .showcase .image {
    width: 100%;
  }
  #root .App .container .Work section .showcase .image img {
    height: 150px;
    width: 270px;
  }
  #root .App .container .Work section .showcase .description {
    width: 100%;
  }
  #root .App .container .Work section .showcase .description .techs i {
    font-size: 40px;
    margin-right: 10px;
  }
  #root .App .container .Work section .showcase .description .techs img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  #root .App .container .Work section .showcase .description .techs img.express {
    width: 90px;
  }
  #root .App .container .Work section .showcase .description p,
  #root .App .container .Work section .showcase .description h4 {
    font-size: 1.3em;
  }
  .nav-list {
    display: none;
    border-radius: 5px;
  }
  .nav-list li a {
    color: white;
  }
  .nav-btn {
    display: block;
  }
}
/*# sourceMappingURL=App.css.map */